import static junit.framework.Assert.assertTrue;

import java.io.File;

import in.malonus.mocktail.metadata.MocktailContainer;
import in.malonus.mocktail.repository.ObjectRepository;
import in.malonus.mocktail.metadata.util.UniqueIdGenerator;

public aspect RecorderAspect$className {

	ObjectRepository objectRepository = MocktailContainer.getInstance().getObjectRepository();
	UniqueIdGenerator uniqueIdGenerator = MocktailContainer.getInstance().getUniqueIdGenerator();
	
	pointcut callPointcut() : call(* $fqcn.*(..));
	
	
	Object around() : callPointcut() {
		
		String fqcn = "$fqcn";
		String fileSeparator = File.separator;
		
		String recordingDirectoryPath = "$recordingDirectory" + fileSeparator + fqcn.replace(".", fileSeparator);

		// Verifying if root recording directory where all recordings exist is already their or not

		if (!(new File(recordingDirectoryPath)).exists()) {
			(new File(recordingDirectoryPath)).mkdirs();
		}
		
		String methodName = thisJoinPoint.getSignature().getName();
		// Create the unique id of param objects to be recorded
		String recordingFileName = uniqueIdGenerator.getUniqueId(methodName, thisJoinPoint.getArgs())	+ "";		
		
		
		Object objectToBeRecorded = null;
		// Get the object to be recorded
		// Ask Recorder to save the recording file
		if (!objectRepository.objectAlreadyExist(recordingFileName,
				recordingDirectoryPath)) {
			System.out.println("Recording not already in place so doing the recording");
			objectToBeRecorded = proceed();
			objectRepository.saveObject(objectToBeRecorded, recordingFileName,
					recordingDirectoryPath);
		} else {
			System.out.println("object already exists so not saving it");
			objectToBeRecorded = objectRepository.getObject(recordingFileName, recordingDirectoryPath);
		}
		
		return objectToBeRecorded;
	}
}
