.project
.classpath
.idea
*.class
*.iml
.settings
target/
test-output/
velocity.log*
mocktail-samples/mocktail-samples/target
mocktail-samples/database/mocktail-orm/target/
mocktail-samples/database/mocktail-jdbc/target
mocktail-samples/database/mocktail-jdbc/velocity.log*
mocktail-samples/database/spring-petclinic
mocktail-samples/webservice/axis2-simpleclient/target
mocktail-samples/webservice/axis2-simpleservice/target
mocktail-samples/webservice/cxf-simpleservice/target
mocktail-samples/webservice/cxf-simpleclient/target
mocktail-metadata/velocity.log*
