.project
.classpath
.idea
*.class
*.iml
.settings
*/target/*
/sampleapp/target
/samplejarapp/target
mocktail-samples/mocktail-samples/target
mocktail-samples/maven-plugin/mocktail-orm/target/
mocktail-samples/maven-plugin/mocktail-jdbc/target
mocktail-samples/maven-plugin/spring-petclinic/target
mocktail-samples/axis2-simpleclient/target
mocktail-samples/axis2-simpleservice/target
mocktail-samples/cxf-simpleservice/target
mocktail-samples/cxf-simpleclient/target
sandbox/AspectPoc/target
