package com.xebia.smok;
public aspect RecordingAspect {

	#foreach($method in $methods)
 		pointcut callPointcut$method() : 
			call(* $className.$method(..));
	
		
		Object around() : callPointcut$method() {
			System.out.println("Around Before");
			Object[] objects = thisJoinPoint.getArgs();
			for(Object object : objects) {
				System.out.println("Arguments " + object.toString());
			}
			Object returnValue = proceed();
			System.out.println("Around After");
			return returnValue;
		}	
	#end
	
}
