package com.xebia.smok;
public aspect RecordingAspect {

	#foreach($method in $methods)
 		pointcut callPointcut$method() : 
			call(* $className.$method(..));
	
	
		before() : callPointcut$method() {
			Object[] objects = thisJoinPoint.getArgs();
			for(Object object : objects) {
				System.out.println("Arguments " + object.toString());
			}
			System.out.println("Before");
		}
		
		after() : callPointcut$method() {
			System.out.println("after");
		}
	#end
	
}
