## by default caching is ON. In this case the library works as stripped down version of tcpmon
## which could be used in test cases or java classes as proxy to print the tcp responses.
## In order to save tcp responses as cache, change cachingOn to true
chachingOn=true

## directory where cached recording will be stored. default is taken as sec/test/resources
recordingDir=src/test/resources

##indicator which mentions if tcpcache is in "recording" mode, "playback" mode or "recording_new" mode
cachemode=recording

