package com.xebia.smok;
public aspect RecordingAspect {

	pointcut callPointcut() : 
		call(* $className.*(..));
	
	
	Object around() : callPointcut() {
		System.out.println("Around Before");
		Object[] objects = thisJoinPoint.getArgs();
		for(Object object : objects) {
			System.out.println("Arguments " + object.toString());
		}
		Object returnValue = proceed();
		System.out.println("Around After");
		return returnValue;
	}
}
