<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
 
    <context:component-scan base-package="org.mocktail.aspectpoc" />
 
    <bean id="a" class="java.lang.String" factory-method="valueOf">
        <constructor-arg value="test" />
    </bean>
 
    <bean id="integerOne" class="java.lang.Integer" factory-method="valueOf">
        <constructor-arg value="1" />
    </bean>
 
    <bean id="integerTwo" class="java.lang.Integer" factory-method="valueOf">
        <constructor-arg value="2" />
    </bean>
</beans>

