import java.io.File;
import java.io.FileNotFoundException;
import java.io.FileOutputStream;
import java.io.IOException;
import java.io.OutputStream;


import org.mocktail.MocktailContainer;
import org.mocktail.repository.ObjectRepository;
import org.mocktail.util.UniqueIdGenerator;
import org.mocktail.MethodMocktail;

public aspect RecorderAspect$className {

    MocktailContainer mocktailContainer = MocktailContainer.getInstance();

	ObjectRepository objectRepository = mocktailContainer.getObjectRepository();
	UniqueIdGenerator uniqueIdGenerator = mocktailContainer.getUniqueIdGenerator();
	String fqcn = "$fqcn";

	#foreach($method in $methods)
 		pointcut callPointcut$method() : call(* $fqcn.$method(..));
	
		
		Object around() : callPointcut$method() {
			
			String fileSeparator = "/";
			String recordingBasePath = "$recordingDirectory";
			
			MethodMocktail methodMocktail = mocktailContainer.getMethodMocktail();
			
			String methodName="$method";
			String recordingFileName = uniqueIdGenerator.getUniqueId(methodName, thisJoinPoint.getArgs()) + "";
			Object objectToBeRecorded = null;
			
			if(methodMocktail != null){
			    String methodMocktailPath = recordingBasePath + fileSeparator + methodMocktail.getFqcn().replaceAll("\\.", fileSeparator) + fileSeparator+methodMocktail.getMethodName();

			    if(objectRepository.objectAlreadyExist(recordingFileName,
			    		methodMocktailPath)){
			        System.out.println("MethodMocktail - object already exists so not saving it:"+recordingFileName+":"+methodMocktailPath);
			        objectToBeRecorded = objectRepository.getObject(recordingFileName, methodMocktailPath);
			    } else {
				    // Ask Recorder to save the recording file
				    System.out.println("MethodMocktail - Recording not already in place so doing the recording:"+recordingFileName+":"+methodMocktailPath);
				    
				    File methodMocktailFile = new File(methodMocktailPath);
			        if (!methodMocktailFile.exists()) {
				        methodMocktailFile.mkdirs();
			        }
				    objectToBeRecorded = proceed();
				    objectRepository.saveObject(objectToBeRecorded, recordingFileName,
				    		methodMocktailPath);
			    }
			} else {
			
			    String recordingDirectoryPath = recordingBasePath + fileSeparator + fqcn.replaceAll("\\.", fileSeparator);
			
                if (!(new File(recordingDirectoryPath)).exists()) {
				    (new File(recordingDirectoryPath)).mkdirs();
			    }
			    
			    // Get the object to be recorded
			    // Ask Recorder to save the recording file
			    if (!objectRepository.objectAlreadyExist(recordingFileName,
			    		recordingDirectoryPath)) {
			    	System.out.println("Recording not already in place so doing the recording");
			    	objectToBeRecorded = proceed();
			    	objectRepository.saveObject(objectToBeRecorded, recordingFileName,
			    			recordingDirectoryPath);
			    } else {
			    	System.out.println("object already exists so not saving it");
			    	objectToBeRecorded = objectRepository.getObject(recordingFileName, recordingDirectoryPath);
			    }
			}
	
			return objectToBeRecorded;
		}	
	#end
}