package org.mocktail.aspect.playback;
import static junit.framework.Assert.assertTrue;

import java.io.File;

import org.mocktail.MocktailContainer;
import org.mocktail.MocktailContext;
import org.mocktail.repository.ObjectRepository;
import org.mocktail.util.UniqueIdGenerator;


/**
 * I'll represent the playback aspect use me to test the playback aspect whether it is working fine or not and then 
 * update the class and method template files accordingly
 */
public aspect Aspect$className {
	ObjectRepository objectRepository = MocktailContainer.getObjectRepository();
	UniqueIdGenerator uniqueIdGenerator = MocktailContainer.getUniqueIdGenerator();
	String fqcn = "$fqcn";
	//MocktailContext.getMocktailContext().getRecordingDirectory();	
	String recordingDirectoryPath;
	
	pointcut callPointcut() : call(* $fqcn.*(..));
	
	Object around() : callPointcut() {
		String fileSeparator = "/";
		recordingDirectoryPath = "$recordingDirectory";
		recordingDirectoryPath = recordingDirectoryPath + fileSeparator
				+ fqcn.replaceAll("\\.", fileSeparator);
		assertTrue("The recordings directory don't exists " + recordingDirectoryPath, (new File(recordingDirectoryPath)).exists());
		
		// Create the unique id of param objects to be recorded
		//Look into uniqueness of method
/*		String recrodingFileName = uniqueIdGenerator.getUniqueId(methodName, paramObjects)
				+ "";
*/		String recrodingFileName = uniqueIdGenerator.getUniqueId(thisJoinPoint.getArgs())
		+ "";

		assertTrue("Recording not in place " + recrodingFileName, objectRepository.objectAlreadyExist(recrodingFileName, recordingDirectoryPath));
		return objectRepository.getObject(recrodingFileName, recordingDirectoryPath);
	}
}